body {
    font-family: Arial, sans-serif;
    background-image: url(./src/back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 3px 6px;
    width: 80%;
    align-self: center;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
}

th,td {
    border-radius: 25px;
    border-collapse: collapse;
    padding: 3px 6px;
}

th {
    display: none;
}

.botones {
    text-align: center;
}

button {
    margin: 15px;
}

label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.sel {
    text-align: center;
}

h1 {
    width: 80%;
    margin: 0 auto 10px auto;
    text-align: left;
}

.sin-borde {
    border: none;
}

.radio {
    display: flex;
    align-items: center;
    gap: 8px;
}